<div id="wrapper">
  <div id="header" class="header">
    <h1 id="site_title" class="site_title">
      Flyhigh Student System
    </h1>

    <ul id="utility_nav" class="header_item tabs">
      <li class="current_use"><%= @student.email %></li>
      <li class="logout">
        <%= link_to "Log out", destroy_student_session_path, method: :delete %>
      </li>
    </ul>
  </div>

  <div id="title_bar" class="title_bar">
    <div id="titlebar_left">
      <span class="breadcrum">
        <span class="breadcrum_sep"></span>
      </span>
      <h2 class="page_title">
        <%= "#{@student.first_name} #{@student.last_name}" %>
      </h2>
    </div>

    <div id="titlebar_right">
      <div class="action_items">
        <span class="action_item">
          <%= link_to "Edit Student Info", edit_student_path(@student) %>
        </span>
        <%# <span class="action_item"> %>
        <%#   <%= link_to "Calculate Gpa", calculate_gpa_student_path(@student), method: :put %1> %>
        <%# </span> %>
      </div>
    </div>
  </div>

  <div class="flashes"></div>

  <div id="active_admin_content" class="with_sidebar">
    <div id="main_content_wrapper">
      <div id="main_content">
        <div class="panel">
          <h3>Student Details</h3>
          <div class="panel_contents">
            <div class="attributes_table">
              <table>
                <tbody>
                    <tr class="row">
                      <th> FIRST NAME </th>
                      <td><%= @student.first_name %></td>
                    </tr>
                    <tr class="row">
                      <th> LAST NAME </th>
                      <td><%= @student.last_name %></td>
                    </tr>
                    <tr class="row">
                      <th> EMAIL </th>
                      <td><%= @student.email %></td>
                    </tr>
                    <tr class="row">
                      <th> DATE OF BIRTH </th>
                      <td><%= @student.date_of_birth %></td>
                    </tr>
                    <tr class="row">
                      <th> ADDRESS </th>
                      <td><%= @student.address %></td>
                    </tr>
                    <tr class="row">
                      <th> MAJOR </th>
                      <td><%= @student.major %></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# <div id="sidebar"> %>
    <%#   <div class="sidebar_section panel"> %>
    <%#     <h3>Courses Enrolled</h3> %>
    <%#     <div class="panel_contents"> %>
    <%#       <table> %>
    <%#         <thead> %>
    <%#           <tr> %>
    <%#             <th class="col">NUMBER</th> %>
    <%#             <th class="col">TITLE</th> %>
    <%#             <th class="col">GRADE</th> %>
    <%#           </tr> %>
    <%#         </thead> %>
    <%#         <tbody> %>
    <%#           <% @student.courses.each do |course| %1> %>
    <%#             <tr class="<%= cycle('even', 'odd') %1>"> %>
    <%#               <td><%= course.number %1></td> %>
    <%#               <td><%= link_to course.title, course %1></td> %>
    <%#               <td><%= @student.find_student_record(course).grade %1></td> %>
    <%#             </tr> %>
    <%#           <% end %1> %>
    <%#         </tbody> %>
    <%#       </table> %>
    <%#     </div> %>
    <%#   </div> %>


    <%#   <div class="sidebar_section panel"> %>
    <%#     <h3>Semester Gpa</h3> %>
    <%#     <div class="panel_contents"> %>
    <%#       <%= @student.show_gpa %1> %>
    <%#     </div> %>
    <%#   </div> %>
    <%# </div> %>
  <%# </div> <!-- end active_admin contents --> %>

  <div id="footer" class="footer">
    <p>
    coded by <a href="http://squoc.me">Quoc Nguyen</a>
    </p>
  </div>
</div>
